:root {
    --mainColor: #00FFFF;
    --secondaryColor: #9900FF;
    --backgroundColor: #222831;
    --successColor:#23AFB2;
    --errorColor:#FF6E6A;
}

body {
    font-style: normal;
    min-height: 80vh;
    height: 80vh;
    background-color: var(--backgroundColor);
    color: #EFF7FF;
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
}

#selectionDiv {
    display: none;
}

#placeholder {
    margin: 10vh auto;
    /* height: 60vh; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#timeHeader {
    font-size: 1rem;
    text-align: center;
    /* color: white; */
}

#parag {
    text-align: center;
    width: 50vw;
    font-size: 1.3rem;
    word-spacing: 0.1rem;
    line-height: 35px;
    font-weight: 00;
    /* background-color: rgba(255, 255, 255, 0.010); */
    /* letter-spacing: 0.1rem; */
}

.highlighted {
    color: white;
}

.letters {
    background-color: #9299a40c;
}

.correct {
    color: var(--successColor);
    background-color: #e1f5f20c;
}

.wrong {
    color: var(--errorColor);
    text-decoration: underline;
    text-decoration-color: var(--errorColor);
    background-color: #ff6f6a1a;
}

.span {
    opacity: 0.5;
    display: none;
    transition: 1s ease-in-out;
}

.visible {
    opacity: 1;
    display: inline;
}

#errorSvg {
    display: none;
    height: 70vh;
}

#flyingBalloon {
    animation: balloonUpDown 6s infinite linear;
}

#leftPlanets path {
    animation: leftPlanets 6s infinite linear;
}

#rightPlanets path {
    animation: rightPlanets 6s infinite linear;
}

#keyboardSvg {
    margin-top: 30px;
    width: 80vw;
    height: 33vh;
}

@keyframes leftPlanets {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-2px) translateX(-6px);
    }
    50% {
        transform: translateY(-4px)translateX(-12px);
        fill: var(--secondaryColor);
    }
    75% {
        transform: translateY(-2px) translateX(-6px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes rightPlanets {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-2px) translateX(6px);
    }
    50% {
        transform: translateY(-4px)translateX(12px);
        fill: var(--secondaryColor);
    }
    75% {
        transform: translateY(-2px) translateX(6px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes balloonUpDown {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-20px) translateX(2px);
    }
    50% {
        transform: translateY(-30px)translateX(4px);
    }
    75% {
        transform: translateY(-20px) translateX(2px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@media only screen and (max-width: 1000px) {
    #parag {
        font-size: 0.9rem;
        width: 70vw;
    }
    #keyboardSvg {
        margin-top: -80px;
        width: 80vw;
        height: 50vh;
    }
    #errorSvg {
        width: 90vw;
        height: 60vh;
    }
}